

body{
    background-color: #edeffa;
    background-image: linear-gradient(#edeffa, );
    font-family: Arial, Helvetica, sans-serif;
    color: #7890f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: bolder;
    color: #7890f4;
}

fieldset{
    width: auto;
    padding: 5px 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border:3px solid #5456ff;
}

input{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 300px;
    border-radius: 5px;
    border:1px solid#acaeb1;
}

.div-input{
    padding: 15px;
}

.datos-login{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-submit{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
    background-color: #7890f4;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease all;
    display: block;
}

.btn-submit:hover{
    background-color: #5456ff;
    color: #ffffff;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    color: white;
    margin-bottom: 15px;
}

th, td {
    border: 2px solid #5456ff;
    padding: 10px;
}

/* ----- Estilos para validar ----- */ 

.mensajeError{
    color: rgb(255, 55, 55);
    font-size: 13px;
}

.valido{
    border: 2px solid #4ECA64;
}

.invalido{
    border: 2px solid #DB5A5A;
}